a{
 all: unset;
}

.side-bar{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4871F7;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.divider {
  position: relative;
  width: 80%;
  height: 1px;
  background-color : #d7d7d7;
  margin : 5px 0px;
  margin-bottom: 20px;
}

.arrow {
  width: 18px;
  height: 18px;
  position: absolute;
  right: calc(-10% - 14px);
  top : -9px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

.sidebar-logo {
  position: relative;
  overflow: hidden;
  line-height: 64px;
  background: transparent;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.menu{
  width : 90%;
}

.menu-item {
  position : relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding : 6px;
  border-radius: 10px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #d1d1cf2b;
}

.menu-item-title {
  flex: 3;
  color: white;
}

.menu-item-icon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-icon {
  position: absolute;
  right : 10px;
  width: 12px;
  height: 12px;
  filter: grayscale(1) invert(1)
}

.group-item{
  margin-top: 5px;
  border-radius: 10px;
  transition: height 2s;
}

.group-item-expanded{
  background-color: #fffffe33;
}

.router-active {
  background-color: #dddddd75;
}