.side-bar{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4871F7;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}
.divider {
  position: relative;
  width: 80%;
  height: 1px;
  background-color : #d7d7d7;
  margin : 5px 0px;
  margin-bottom: 30px;
}

.arrow {
  width: 18px;
  height: 18px;
  position: absolute;
  right: calc(-10% - 14px);
  top : -9px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}

.sidebar-logo {
  position: relative;
  overflow: hidden;
  line-height: 64px;
  background: transparent;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.full-menu {
  height: calc(100% - 64px - 45px);
  border-right: unset;
}